.hobbies {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow: hidden;
}

.hobbie {
	display: flex;
	align-items: center;
	justify-content: start;
	background-color: #a8b2d1;
	border-radius: 6px;
	font-size: 25px;
	padding: 15px 25px;
	gap: 15px;
	color: $bgColor;
	opacity: 0;
	transform: translateX(-100%);
	animation: hobbiesPointing 1s forwards;
	&__image-container {
		width: 60px;
		height: 60px;
		@media (max-width: 700px) {
			width: 40px;
			height: 40px;
		}
		@media (max-width: 450px) {
			width: 30px;
			height: 30px;
		}
	}
	@media (max-width: 700px) {
		padding: 10px 15px;
	}
	@media (max-width: 450px) {
		padding: 5px 10px;
		font-size: 17px;
	}
}
