/*Import Other Styles*/
@import "./core/fonts";
@import "./core/variables";
@import "./components/index";

/*Main Styles*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}
button {
  background: transparent;
  border: none;
}
body {
  background: $bgColor;
  font-family: $mainFont;
  font-weight: $mainWeight;
  font-size: $mainSize;
  color: #a8b2d1;
}
::-webkit-scrollbar {
  display: none;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}



$background: $bgColor;
$foreground: white;

@mixin glitchText($offset, $text) {
  content: $text;
  position: absolute;
  left: $offset;
  top: $offset;
  clip: rect(0, 830px, 0, 0);
  background-color: $background;
  color: $foreground;
  animation: glitch 3s infinite alternate-reverse;
}

.glitch-loader {
  color: $background;
  color: $mainColor;
  animation: fadeWhite 3s forwards;
  font-size: 15px;
  &:after {
    @include glitchText(-2px, "Portfolio");
  }
}

@keyframes fadeWhite {
  100% {
    color: #b961ff;
  }
}

@keyframes glitch {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
